<div class="main" ng-controller = "MainController as search">
  <form class = "form">
  <input type="text" placeholder="Enter a username" class="search__input" ng-model="user.name" name="enter">
  <button class="search__button" ng-click="search.fetchData(user)" ng-model="checked">Search</button>
</form>

    <div class=users__text ng-model="userstext" >
        <ul ng-repeat="user in search.users track by $index" ng-if="user.data==true">
          <li class="navigation__users"><a ng-href="http://localhost:8888/githubusersng/#/{{user.login}}" ng-model="user.login">{{user.login}}</a></li>
        </ul>

</div>
</div>
